# Logs & Environment Variables
*.log
.env
.env.local

# Editor & OS files
.vscode/
.idea/
*.swp
Thumbs.db

# Frontend
frontend/node_modules/
frontend/.env
frontend/dist/

# Backend
backend/node_modules/
backend/.env
backend/dist/
